@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #323232;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 250, 244);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .nav-bar{
        display: flex;
        width: 100%;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
        img{
            width: 20px;
        }
    }
    
    .main-container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .main-introduction-title{
            width: 45%;
            margin-bottom: 1rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.5rem;
            transition: .5s;

            .main-nickname{
                font-family: 'Playfair Display', serif;
            }
        }

        .main-introduction-desc{
            width: 45%;
            transition: .5s;
        }
    }
    
    .projects-container{
        width: 100vw;
        height: 48vh;
        align-self: flex-end;
        bottom: 0%;
        overflow-x: auto;
        display: flex;
        align-items: flex-end;
        padding: .5rem;
        gap: .5rem;
    
        .project-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: fit-content;
            height: fit-content;
    
            filter: grayscale(100%);
            transition: 1s;
            
            h1{
                display: none;
                font-size: .8rem;
                transition: .5s;
                color: #323232;
                text-transform: uppercase;
                font-weight: 900;
                font-family: 'Motserrat', sans-serif;
            }
    
            img{
                width: calc(256px - 32px);
                transition: .5s;
            }
    
            &:hover{
                filter: grayscale(0%);
                width: 400px;
    
                .project-info{
                    opacity: 1;
                    width: calc(256px - 32px);
                }
                
                img{
                    width: 256px;
                }
            }
        }
    }
}

.fadeInAndOut {
    opacity: 1;
    animation: fade 1s linear;
}


@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@media screen and (max-width: 1024px){
    body{

        .main-container{
            width: 100%;
            height: auto;
            align-items: center;

            .main-introduction, .main-desc{
                width: 45%;
            }
        }

        .projects-container{
            width: 100vw;
            overflow-x: auto;

            .project-container{
                width: fit-content;
                height: fit-content;

                h1{
                    display: block;
                    font-size: .5rem;
                    margin-bottom: 1rem;
                }

                img{
                    width: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    body{
        
        .main-container{
            width: 100%;
            height: auto;

            .main-introduction-title, .main-introduction-desc{
                width: 80%;
            }
            .main-introduction-title{
                font-size: 1.25rem;
            }
            .main-introduction-desc{
                font-size: 1rem;
            }
        }

        .projects-container{
            width: 100vw;
            overflow-x: auto;
            padding: 1rem;
            
            gap: 1rem;

            .project-container{
                width: fit-content;
                height: fit-content;

                h1{
                    font-size: .85rem;
                }

                img{
                    width: calc(100vw - 2rem);
                }
            }
        }
    }
}